
@{
    ViewBag.Title = "Tin Tức";
}


<div class="container">
    <h2 class="text-center" style="width:150px; height:40px; padding-top:5px; background-color:#7dfd63; border-radius:10px;">TIN TỨC</h2>
    <hr>
    <a href='@Url.Action("top10loaica", "Home")'>
        <img src="~/img/TinTuc/top10loaica.png" style="width:290px">
        <h4>Top 10 loài cá đắt giá</h4>
    </a>
    <p>Những loài cá quý hiếm được các khách hàng là những thương gia, đại gia săn lùng bởi những loài cá này thường được cho là sẽ mang lại may mắn, sức khỏe...</p>

</div>