
@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container " style="margin-bottom:380px;">
    <h2 style="text-align:center;">XÁC NHẬN ĐƠN HÀNG</h2>
    <h4 style="color: blue;">
        Đơn hàng của quý khách đã được chúng tôi ghi nhận, chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn
    </h4>
    <p style="text-align:right; color: aqua;">
        @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Home")
    </p>
    <a href="@Url.Action("Payment","GioHang")">Thanh toán</a>
</div>

